---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import { config } from "../config";
---

<BaseLayout title={config.siteTitle}>
  <h2>최신 글</h2>
  <PostList />
  <h2>카테고리</h2>
  <h2>태그</h2>
  </BaseLayout>
