---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import { config } from "../config";
import TagList from "../components/TagList.astro";
---

<BaseLayout title={config.siteTitle}>
  <h2>최신 글</h2>
  <PostList />
  <h2>카테고리</h2>
  <!-- TODO: category list -->
  <h2>태그</h2>
  <TagList />
  <!-- TODO: Add copyright -->
</BaseLayout>

<style>
  h2:first-of-type {
    margin-top: 0;
  }
</style>
