---
import { config } from "../config";
---

<!-- TODO: Sticky header -->
<header>
  <h1>
    <a href="/">{config.siteTitle}</a>
  </h1>
  <p>ADHD 레즈비앙뜨 왜노자 프레임워커</p>
  <!-- TODO: Implement search -->
</header>
