---
import { config } from "../config";
---

<!-- TODO: Sticky header -->
<header>
  <a href="/">
    <h1>{config.siteTitle}</h1>
  </a>
  <p>ADHD 레즈비앙뜨 왜노자 프레임워커</p>
  <!-- TODO: Implement search -->
</header>
