<header>
  <h1>
    <a href="/">
      <span>BREAK OF DAWN</span>
    </a>
  </h1>
  <p>ADHD 레즈비앙뜨 왜노자 프레임워커</p>
  <!-- TODO: Add Search -->
</header>

<style>
  header {
    position: sticky;
    top: 0;
    padding: 0.5em;
    background-color: white;
    /* border: 1px solid red; */
  }

  h1 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    margin: 0;
  }
</style>
