<header>
  <h1>
    <a href="/">
      <span>BREAK OF DAWN</span>
    </a>
  </h1>
  <p>ADHD 레즈비앙뜨 왜노자 프레임워커</p>
  <!-- TODO: Add Search -->
</header>

<style>
  h1 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
</style>
