---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<section>
  <ul>
    {
      posts.map((post) => (
        <li>
          <h2>
            <a href={`/posts/${post.slug}`}>
              <span>{post.data.title}</span>
            </a>
          </h2>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    margin: 0 auto;
    max-width: 1024px;
    /* border: 1px solid red; */
  }

  ul {
    padding-inline-start: 0;
    list-style-type: none;
  }

  h2 {
    font-size: 1.25rem;
  }
</style>
