---
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
---

<ul>
  {
    allPosts.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
