---
import "../styles/global.css";
import BlogHeader from "../components/BlogHeader.astro";

const { title } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <!-- TODO: Change favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <BlogHeader />
    <main>
      <slot />
    </main>
  </body>
</html>
